<!doctype html>
<html>
  <head>
    <title> Exodia Shopping </title>
    <link rel="stylesheet" href="homepage.css" media="screen" >
    <meta charset="utf-8">
  </head>
  <body>
    <header>
    </header>
    <div class="wrapper">
      <div class="container">
        <!-- <input type="text" placeholder="Search..."> -->
        <div class="search"></div>
      </div>
      <div class="sign-options">
      </div>

    </div>
    <div class="header">
      <div class = "menu">
        <nav>
          <ul>
            <li><a href = "#"> WOMEN </a>
              <div class="dropdown">
                <a href = "#"> # </a>
                <a href = "#"> # </a>
                <a href = "#"> # </a>
              </div>
            </li>

            <li><a href = "#"> MEN </a>
              <div class="dropdown">
                <a href = "#"> # </a>
                <a href = "#"> # </a>
                <a href = "#"> # </a>
              </div>
            </li>

            <li><a href = "#"> SHOES </a>
              <div class="dropdown">
                <a href = "#"> # </a>
                <a href = "#"> # </a>
                <a href = "#"> # </a>
              </div>
            </li>

            <li><a href = "#"> ACCESSORIES </a>
              <div class="dropdown">
                <a href = "#"> # </a>
                <a href = "#"> # </a>
                <a href = "#"> # </a>
              </div>
            </li>

            <li><a href = "#"> HOME DECOR </a>
              <div class="dropdown">
                <a href = "#"> # </a>
                <a href = "#"> # </a>
                <a href = "#"> # </a>
              </div>
            </li>

            <li><a href = "#"> MAKEUP </a>
              <div class="dropdown">
                <a href = "#"> # </a>
                <a href = "#"> # </a>
                <a href = "#"> # </a>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </div>


  </body>
</html>
