<!doctype html>
<html>
  <head>
    <title> Exodia </title>
    <link rel="stylesheet" href="sign_up.css" media="screen" >
  </head>
  <body>

    <div class="login">
      <div class="logo">
        <img src="exodia-cursive.png" alt="exodia shop">
      </div>
        <h1> Sign up </h1>
        <form>
            <p>Name</p>
            <input type="text" name="" placeholder="Enter your name">
            <p>Surname</p>
            <input type="text" name="" placeholder="Enter your surname">
            <p>Username</p>
            <input type="text" name="" placeholder="Enter your username">
            <p>Password</p>
            <input type="password" name="" placeholder="Enter your password"><br>
            <p> Confirm Password</p>
            <input type="password" name="" placeholder="Enter your password again"><br>
            <p> Email</p>
            <input type="password" name="" placeholder="Enter your email"><br>
            <input type="submit" name="" value= "Sign up"><br>
            <a href=""> Already have an account? Sign in! </a>
        </form>
    </div>
  </body>
</html>
